<?xml version="1.0"?>
<plist>
	<dict>
		<key>run_input_hash</key>
		<string>8987906296112936871</string>
		<key>run_directories</key>
		<string>1 </string>
		<key>current_run</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>17869</string>
		<key>_status</key>
		<string>3</string>
		<key>project_hash</key>
		<string>17038499297151771845</string>
		<key>backend</key>
		<string>local</string>
	</dict>
</plist>
