name: Pages
on:
  push:
    tags:
      - '*'
#    branches:
#    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v2
#    - run: pip install versioneer
    - uses: s-weigand/setup-conda@v1
    - run: conda install -c conda-forge pysjef versioneer sphinx_rtd_theme nbsphinx scipy
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
#    - run: sphinx-apidoc -o docs/source pymolpro
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
      with:
        documentation_path: './docs/source'
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages